.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.cart-wrapper {
  min-width: 745px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(8, 1fr);
}

.cart_border {
  border: 0.5px solid #ed5517;
  transition: all 1s ease-in-out;
}
